version: "0.3.0-pre.0"
entryPoint: "main"
dependencies:
  postmaster: "distri/postmaster:v0.2.3" # Just for testing
  require: "distri/require:v0.5.0-pre.0"
  sandbox: "distri/sandbox:v0.2.4"
  util: "distri/util:v0.1.0"
